<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leo Streaming</title>
    <link rel="stylesheet" href="/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        #uploadModal {
            background: rgba(0, 0, 0, 0.8);
        }

        .loader {
            border: 4px solid rgba(255, 255, 255, 0.3);
            border-radius: 50%;
            border-top-color: #ffffff;
            width: 24px;
            height: 24px;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        /* Custom transition for the dropdown */
        #navbar-default {
            transition: max-height 0.5s ease-in-out;
        }

        .buffering-spinner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
            z-index: 10;
        }

        .spinner {
            border: 4px solid rgba(255, 255, 255, 0.884);
            border-top: 4px solid #fff;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body class="bg-[#000000] text-white">
    <nav class="backdrop-blur-lg backdrop-filter fixed top-0 left-0 right-0 z-20">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="#" class="flex items-center space-x-3">
                <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">PaulLeo</span>
            </a>
            <button id="menu-toggle" type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-300 rounded-lg md:hidden focus:outline-none focus:ring-2 focus:ring-gray-300">
                <svg class="w-8 h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>

            <div class="hidden w-full md:block md:w-auto max-h-0 md:max-h-none overflow-hidden transition-all duration-500 ease-in-out"
                id="navbar-default">
                <ul
                    class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-300 md:flex-row md:space-x-8 md:mt-0 md:border-0 bg-[#111111] md:bg-transparent">
                    <% if (user) { %>
                        <li>
                            <% if (!user.isAdmin) { %>
                                <a class="block py-2 px-3 text-xl rounded md:border-0 text-white md:p-0"
                                    href="/home">Home</a>
                                <% } %>
                                    <a href="#"
                                        class="lg:hidden md:hidden block px-4 py-2 text-xl text-gray-300">Welcome, <%=
                                            user.username %>
                                    </a>
                                    <a class="lg:hidden md:hidden block py-2 px-3 text-xl rounded md:border-0 text-white md:p-0"
                                        href="/settings">Settings</a>
                                    <a class="lg:hidden md:hidden block py-2 px-3 text-xl rounded md:border-0 text-white md:p-0"
                                        href="/logout">Log out</a>
                        </li>

                        <li class="block py-2 px-3 text-xl rounded md:border-0 text-white md:p-0 hidden md:block">
                            <button id="user-icon" class="flex items-center space-x-2 text-white focus:outline-none">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                                    width="24px" fill="#e8eaed">
                                    <path
                                        d="M234-276q51-39 114-61.5T480-360q69 0 132 22.5T726-276q35-41 54.5-93T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 59 19.5 111t54.5 93Zm246-164q-59 0-99.5-40.5T340-580q0-59 40.5-99.5T480-720q59 0 99.5 40.5T620-580q0 59-40.5 99.5T480-440Zm0 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q53 0 100-15.5t86-44.5q-39-29-86-44.5T480-280q-53 0-100 15.5T294-220q39 29 86 44.5T480-160Zm0-360q26 0 43-17t17-43q0-26-17-43t-43-17q-26 0-43 17t-17 43q0 26 17 43t43 17Zm0-60Zm0 360Z" />
                                </svg>
                                <span>
                                    <%= user.username %>
                                </span>
                            </button>
                            <div id="user-dropdown"
                                class="hidden absolute right-0 mt-2 w-48 bg-[#111111] border border-gray-500 rounded-md shadow-lg py-2 mx-2 z-50">
                                <a href="#" class="block px-4 py-2 text-sm text-gray-300">Welcome, <%= user.username %>
                                </a>
                                <a href="/settings" class="block px-4 py-2 text-sm text-gray-300">Settings</a>
                                <a href="/logout" class="block px-4 py-2 text-sm text-gray-300">Log out</a>
                            </div>
                        </li>

                        <% } else { %>
                            <li>
                                <a href="/login"
                                    class="block py-2 px-3 text-xl rounded md:border-0 text-white md:p-0">Login</a>
                            </li>
                            <li>
                                <a href="/signup"
                                    class="block py-2 px-3 text-xl rounded md:border-0 text-white md:p-0">Signup</a>
                            </li>
                            <% } %>
                </ul>
            </div>
        </div>
    </nav>

    <script>
        document.getElementById('menu-toggle').addEventListener('click', function () {
            let navbar = document.getElementById('navbar-default');
            if (navbar.classList.contains('hidden')) {
                navbar.classList.remove('hidden');
                setTimeout(() => {
                    navbar.classList.remove('max-h-0');
                    navbar.classList.add('max-h-96');
                }, 10);
            } else {
                navbar.classList.add('max-h-0');
                navbar.classList.remove('max-h-96');
                navbar.addEventListener('transitionend', () => {
                    if (navbar.classList.contains('max-h-0')) {
                        navbar.classList.add('hidden');
                    }
                }, { once: true });
            }
        });

        document.getElementById('user-icon').addEventListener('click', function () {
            let dropdown = document.getElementById('user-dropdown');
            dropdown.classList.toggle('hidden');
        });

        // Close the dropdown if clicked outside
        window.addEventListener('click', function (e) {
            let dropdown = document.getElementById('user-dropdown');
            let userIcon = document.getElementById('user-icon');
            if (!dropdown.contains(e.target) && !userIcon.contains(e.target)) {
                dropdown.classList.add('hidden');
            }
        });
    </script>