<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leo Streaming</title>
    <link rel="stylesheet" href="/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <script src="/script.js"></script> -->
    <style>
      body {
        font-family: 'Nunito', sans-serif;
        background-color: #000000;
        color: #ffffff;
        margin: 0;
      }
    </style>
  </head>
  <body>