<%- include('partials/header'); -%>

<header>
  <div class="home">
    <img src="/videographer.jpg" alt="">
  </div>
  <div class="headings">
    <h2>Video Streaming Platform</h2>
    <h3>By Blankson Paul</h3>
    <a href="/login" class="btn">Get Started</a>
  </div>
</header>


<%- include('partials/footer'); -%>