<%- include('partials/header'); -%>

<form id="resetPasswordForm">
    <h2>Password Reset</h2>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required />
    <div class="email error"></div>
    <label for="otp">OTP</label>
    <input type="password" id="otp" name="otp" required />
    <div class="otp error"></div>
    <label for="newPassword">New Password</label>
    <input type="password" id="newPassword" name="newPassword" required />
    <div class="newPassword error"></div>
    <button type="submit">Reset Password</button>
</form>

<%- include('partials/footer'); -%>


<script>
  document.addEventListener('DOMContentLoaded', () => {
    const form = document.getElementById('resetPasswordForm');
    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        
        const email = form.email.value;
        const otp = form.otp.value;
        const newPassword = form.newPassword.value;

        try {
            const response = await fetch('/reset-password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email, otp, newPassword })
            });

            if (!response.ok) {
                const data = await response.json();
                throw new Error(data.message);
            }

            alert('Password reset successfully.');
            window.location.href = '/login';
            form.reset();
        } catch (error) {
            console.error(error);
            const emailError = document.querySelector('.email.error');
            const otpError = document.querySelector('.otp.error');
            const newPasswordError = document.querySelector('.newPassword.error');
            emailError.textContent = '';
            otpError.textContent = '';
            newPasswordError.textContent = '';
            if (error.message.includes('email')) {
                emailError.textContent = error.message;
            } else if (error.message.includes('OTP')) {
                otpError.textContent = error.message;
            } else {
                newPasswordError.textContent = error.message;
            }
        }
    });
});
</script>